@media screen and (max-width: 1200px){
    [class|="product"]{
        width: calc(100%/3);
        min-height: 40vh;
        height: 100%;
    }

    [class|="product"] a:not(.button-purchase){
        margin-top: 1vh;
    }

    .button-purchase{
        top: -2vh;
        padding: 8px 20px;
    }

    .footer{
        height: 100vh;
    }

    .footer .logoWrapper{
        top: 10vh;
    }

    .footer .logoWrapper .logo{
        text-align: center;
        position: absolute;
        top: 5vh;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer .logo img{
        display: inline-block;
    }

    .footer .menu{
        top: 40vh;
    }

    .footer .menu, .footer .social ul, .footer .copyright{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer .menu ul{
        justify-content: center;
    }

    .footer .social ul{
        top: 65vh;
        right: initial;
    }

    .footer .copyright{
        top: 85vh;
        right: initial;
    }

    .footer form{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}


@media screen and (max-width: 1000px){
    body{
        font-size: 14px;
    }

    [class|="button"]{
        top: 80vh;
    }

    .button-purchase{
        top: -2vh;
    }

    .title{
        display: block;
    }

    .title .left-title, .title .right-title{
        max-width: 100vw;
        min-height: 100vh;
        width: 100%;
        height: 100%;
    }

    video{
        height: 80vh;
    }

    [class|="product"]{
        max-width: 100vw;
        width: 100%;
        min-height: 100vh;
        height: 100%;
    }

    .footer form{
        width: 100%;
        flex-flow: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 500px){
    body{
        font-size: 10px;
    }

    [class|="button"]{
        top: 28vh;
    }

    .header{
        max-width: 100vw;
        min-height: 30vh;
        width: 100%;
        height: 100%;
    }

    .title{
        min-height: calc(70vh/2);
        height: 100%;
    }

    .title .left-title, .title .right-title{
        min-height: calc(70vh/2);
        height: 100%;
    }

    video{
        height: calc(75vh/2);
    }

    [class|="product"]{
        max-width: 100vw;
        min-height: 30vh;
        width: 100%;
        height: 100%;
    }

    [class|="product"] img{
        margin-top: 1vh;
    }

    [class|="product"] a:not(.button-purchase){
        margin-top: 1vh;
    }

    .button-purchase{
        top: -2vh;
    }

    .footer .social ul{
        top: 70vh;
    }

    .footer .social ul li{
        margin: 1vh 0 0 5vw;
    }

    .footer .copyright{
        top: 90vh;
    }
}