@media screen and (max-width: 500px){
    /* Mobile phones */

    [class|="button"]{
        /* bottom: -50%; */
        top: 30vh;
    }

    .header{
        /* min-height: calc(100vh/3); */
        min-height: 25vh;
        height: 100%;
    }

    .title{
        display: block;
    }

    .title .right-title, .title .left-title{
        max-width: 100vw;
        min-height: calc(75vh/2);
        width: 100%;
        height: 100%;
    }

    video{
        height: calc(75vh/2);
    }

    [class|="product"]{
        width: 100vw;
        height: 60vh;
    }
}

@media screen and (max-width: 1200px){
    .button-purchase{
        padding: 8px 20px
    }

    .footer{
        height: 100vh;
    }

    .footer .logoWrapper{
        top: 10vh;
        padding-bottom: 20vh;
    }

    .footer .logoWrapper .logo{
        text-align: center;
        position: absolute;
        top: 5vh;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer .logo img{
        display: inline-block;
    }

    .footer .menu{
        top: 40vh;
    }


    .footer .menu, .footer .social ul, .footer .copyright{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer .menu ul{
        justify-content: center;
    }

    .footer .social ul{
        top: 65vh;
        right: initial;
    }

    .footer .copyright{
        top: 85vh;
        right: initial;
    }
}